.reservation__date-selector {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 50px;
    font-family: 'Markazi Text', serif;
    font-size: 48px;
    padding-right: 15px;
}

.reservation__date-selector-date-time {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.title {
    color: #495E57;
    
}
.date-time {
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-left: 15px;
    
}

.date, .time {
    background-color: #495E57;
    border: 1px solid #EDEFEE;
    border-radius: 7px;
    padding: 7px;
    font-size:large;
    
}

.open-closed {
    /* border: 1px solid red; */
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 48px;
}

.closed {
    color: red;
}

.choose-date {
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
    font-size:xx-large;
}

.choose-date {
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    padding-right: 35px;
}

.choose-date-2 {
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

input[type="date"] {
    background-color: #495E57;
    color: #ffffff;
    font-size:large;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    padding-left: 10px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 3px;
    
}
.ocassion-selector {
    background-color: #495E57;
    color: #ffffff;
    font-size: 24px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size:large;
    margin-left: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

@media screen and (max-width: 780px) {
    .reservation__date-selector {
        font-size: 28px;
        padding: 25px;
    }
    .choose-date {
        flex-direction: column;
    }
}